# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
# **/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
# **/compose.y*ml
# **/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
# Ignore Kamal files.
# **/config/deploy*.yml
**/.kamal/secrets
LICENSE
README.md

# Rails-specific ignores.
# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
# **/.git/
# Ignore bundler config.
**/.bundle
# Ignore all environment files.
**/.env*
# Ignore all default key files.
**/config/master.key
**/config/credentials/*.key
# Ignore all logfiles and tempfiles.
**/log/*
**/tmp/*
**!/log/.keep
**!/tmp/.keep
# Ignore pidfiles, but keep the directory.
**/tmp/pids/*
**!/tmp/pids/.keep
# Ignore storage (uploaded files in development and any SQLite databases).
**/storage/*
**!/storage/.keep
**/tmp/storage/*
**!/tmp/storage/.keep
# Ignore assets.
**/node_modules/
**/app/assets/builds/*
**!/app/assets/builds/.keep
**/public/assets
# Ignore CI service files.
# **/.github
# Ignore Kamal files.
# **/config/deploy*.yml
# Ignore development files
**/.devcontainer
# Ignore Docker-related files
# **/.dockerignore
# **/Dockerfile*

# Remove wordpress files from git tracking
**/wordpress6.9.1/db_data/*
**/wordpress6.9.1/wp_data/*
**/wordpress6.9.1/pma_sessions/*
